:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --red: rgb(249, 46, 46);
}

body {
  background-color: var(--black);
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  background-color: var(--black);
  width: 100%;
  justify-content: space-around;
  height: 3rem;
  align-items: center;
}

.nav-link {
  margin-right: 2rem;
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
}

.nav-link:hover {
  background-color: var(--red);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: 800;
}

footer {
  display: flex;
  border: 2px solid var(--white);
  height: 3rem;
  align-items: center;
  margin-top: auto;
  padding-left: 0.5rem;
  width: 99%;
}

#movies-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.movie-description {
  display: flex;
  justify-content: space-between;
}

.movie-image {
  width: 100%;
  height: 300px;
}

.movie-name {
  font-size: 1rem;
  color: var(--black);
}

.movie-card {
  width: 25%;
  padding: 10px;
  margin-top: 50px;
  background-color: lightgray;
}

.likes {
  display: flex;
  align-items: center;
  color: var(--black);
}

.likes-counter {
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.like-button {
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--red);
  color: var(--white);
}

.comments {
  background-color: var(--red);
  color: var(--white);
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
}

#popup-window {
  border: 3px solid var(--red);
  background-color: var(--black);
  position: absolute;
  z-index: 999;
  width: 90%;
  margin: 3rem;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.cancel-btn {
  background-image: url(images/cancel.png);
  background-size: cover;
  background-color: transparent;
  border: none;
  position: absolute;
  margin: 1rem;
  top: 5px;
  right: 5px;
  height: 3rem;
  width: 3rem;
}

.details {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  text-align: center;
}

.imageTitleDiv img {
  width: 20rem;
  height: 20rem;
}
